<br />
<h2>Welcome to Pizza Shop!</h2>
<h3>We sell only for Bitcoins*</h3>
<h6>* 10000 BTC is the minimum order</h6>

<style type="text/css"> 
h2, h3, h6 {
    text-align:center;
}
h3{
    font-size: 25px;
}
h6 {
    color: grey;
    font-size: 12px;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
</style>

<div class="d-flex justify-content-end">    
    <button class="btn btn-primary btn-lg" onclick="something()" style="margin-right: 10px;">Click the Button!</button>
    <button class="btn btn-outline-danger btn-lg" onclick="reset()">Reset</button>
</div>
<h1>Here is our pizza!</h1>
<div class="container">
    <div class="row">        
        <div class="col-9">
            2/3
             <div class="d-flex flex-row">
            <% @products.each do |product| %>
               
                    <div id="pizza<%= product.id %>" class="col" style="margin-right: 60px;">
                        <div>
                            <h1 style="text-align: center;"><%= product.title %></h1> 
                        </div>
                        <div>
                            <img src="<%= product.path_to_image %>">
                        </div>
                        <div>
                            <p><%= product.description %></p>
                        </div>
                        <div>
                            <p>Size is: <%= product.size %></p>
                        </div>
                        <div>
                            <h3 style="text-align: center;">Price: <%= product.price %> BTC</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success float-end" style="text-align: right;" onclick="add_to_cart(<%= product.id%>)">Add to cart</button>
                        </div>
                    </div>  
            <% end %>       
            </div>      
        </div>
        <div class="col">
            <p>1/3</p>   
            
            <table class="table table-hover">
                <tr><td><a href="#pizza1" class="btn btn-outline-primary mx-auto d-block">first element</a></td></tr>
                <tr><td><a href="#pizza2" class="btn btn-outline-primary mx-auto d-block">second element</a></td></tr>
                <tr><td><a href="#pizza3" class="btn btn-outline-primary mx-auto d-block">third element</a></td></tr>
            </table>                   
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        update_orders_input();
    });
</script>
